<div id="pdf" style="margin: 10px; padding: 20px">
  <div
    style="
      border: 1px solid;
      display: grid;
      grid-template-columns: 2fr 1fr 200px;
    "
  >
    <header class="flex-3" style="padding: 6px 10px">
      <h2>Cacique representações</h2>
      <hr />

      <div style="margin-top: 10px">
        <p>Rua travessa alto feliz, 61</p>
        <p>Chapadão do Sul - MS</p>
        <div class="flex">
          <p style="margin-right: 40px">Fone : (67) 99649-5372</p>
          <p>E-mail: caciqueferragens@gmail.com</p>
        </div>
      </div>
    </header>

    <div style="flex: 1; text-align: center" class="center-flex">
      <img style="height: 60px" src="./assets/logo.jpeg" alt="" />
    </div>

    <div class="order">
      <div class="order-date">
        <p>{{ dataHoje | date : "dd/MM/yyyy" }}</p>
      </div>

      <div class="order-number">
        <p>
          {{ pedido }}
        </p>
      </div>
    </div>
  </div>

  <div class="cliente" style="padding: 20px 10px 10px">
    <header
      class="flex align-center"
      style="margin-bottom: 14px; justify-content: space-between"
    >
      <h4 id="cliente">
        <app-editable
          [value]="cliente.nome"
          (valueChange)="saveProjectName('cliente', 'nome', $event, 0)"
        >
        </app-editable>
      </h4>
      <strong id="contato">
        <app-editable
          [value]="cliente.numero"
          (valueChange)="saveProjectName('cliente', 'numero', $event, 0)"
        >
        </app-editable
      ></strong>
    </header>

    <div class="cliente-endereco">
      <p>
        <app-editable
          [value]="cliente.endereco"
          (valueChange)="saveProjectName('cliente', 'endereco', $event, 0)"
        >
        </app-editable>
      </p>
      <div class="flex align-center">
        <p>
          <app-editable
            [value]="cliente.cidade"
            (valueChange)="saveProjectName('cliente', 'cidade', $event, 0)"
          >
          </app-editable>
        </p>

        <p style="margin-left: 30px" class="center-flex">
          CEP:
          <app-editable
            [value]="cliente.cep"
            (valueChange)="saveProjectName('cliente', 'cep', $event, 0)"
          >
          </app-editable>
        </p>
      </div>
      <p>E-mail: - Contato:</p>
    </div>
  </div>

  <div class="orcamento">
    <h3>ORÇAMENTO N° {{ pedido }}</h3>
  </div>

  <div class="produto">
    <table class="w-100">
      <thead>
        <th>Código</th>
        <th>Descrição</th>
        <th>Unid.</th>
        <th class="text-right">Quantidade</th>
        <th class="text-right">Valor Un.</th>
        <th class="text-right">Total</th>
      </thead>

      <tbody>
        <tr
          *ngFor="let item of items; let indice = index"
          style="position: relative"
        >
          <td>
            <app-editable
              [value]="item.codigo"
              (valueChange)="saveProjectName('item', 'codigo', $event, indice)"
            >
            </app-editable>
          </td>
          <td>
            <app-editable
              [value]="item.descricao"
              (valueChange)="
                saveProjectName('item', 'descricao', $event, indice)
              "
            >
            </app-editable>
          </td>
          <td>
            <app-editable
              [value]="item.unid"
              (valueChange)="saveProjectName('item', 'unid', $event, indice)"
            >
            </app-editable>
          </td>
          <td class="text-right">
            <app-editable
              [type]="'number'"
              [value]="item.quantidade"
              (valueChange)="
                saveProjectName('item', 'quantidade', $event, indice)
              "
            >
            </app-editable>
          </td>
          <td class="text-right">
            <app-editable
              [type]="'number'"
              [value]="item.valor"
              [currency]="true"
              (valueChange)="saveProjectName('item', 'valor', $event, indice)"
            >
            </app-editable>
          </td>
          <td class="text-right" style="font-size: 14px !important">
            {{
              item.quantidade * item.valor
                | currency : "BRL" : "symbol" : "0.2-2" : "pt"
            }}
          </td>
          <button
            (click)="removeItem(indice)"
            *ngIf="!gerandoPdf"
            style="
              position: absolute;
              left: 5%;
              top: 50%;
              transform: translateY(-50%);
            "
          >
            remover
          </button>
        </tr>
      </tbody>
    </table>

    <div
      class="text-center center-flex"
      style="margin-top: 30px"
      *ngIf="!gerandoPdf"
    >
      <select
        (change)="onSelectMercadoria($event, 1)"
        style="margin-right: 10px"
      >
        <option [value]="-1">LM</option>
        <option
          *ngFor="let mercadoria of mercadoriasLM; let indice = index"
          [value]="indice"
        >
          {{ mercadoria.descricao.replace("LM", "") }} -
          {{ mercadoria.valor | currency : "BRL" : "symbol" : "0.2-2" : "pt" }}
        </option>
      </select>

      <select
        (change)="onSelectMercadoria($event, 2)"
        style="margin-right: 10px"
      >
        <option [value]="-1">Shampoo</option>
        <option
          *ngFor="let mercadoria of mercadoriasShampoo; let indice = index"
          [value]="indice"
        >
          {{ mercadoria.descricao.replace("Shampoo", "") }} -
          {{ mercadoria.valor | currency : "BRL" : "symbol" : "0.2-2" : "pt" }}
        </option>
      </select>

      <select
        (change)="onSelectMercadoria($event, 3)"
        style="margin-right: 10px"
      >
        <option [value]="-1">Solupan</option>
        <option
          *ngFor="let mercadoria of mercadoriasSolupan; let indice = index"
          [value]="indice"
        >
          {{ mercadoria.descricao.replace("Solupan", "") }} -
          {{ mercadoria.valor | currency : "BRL" : "symbol" : "0.2-2" : "pt" }}
        </option>
      </select>
      <!-- <button class="btn-over" (click)="adicionarItem()">Adicionar item</button> -->
    </div>

    <div class="produto-informacao">
      <p><strong>Frete por conta:</strong> Sem Frete</p>
      |
      <p><strong>Frete($):</strong> 0,00</p>
      |
      <p><strong>Volumes:</strong> 0,00</p>
      |
      <p><strong>Peso Bruto:</strong> 0,00</p>
      |
      <p><strong>Peso Liquido:</strong> 0,00</p>
    </div>

    <div class="observacoes">
      <p style="font-size: 16px; white-space: break-spaces">
        <strong>Observação: </strong>
        <app-editable
          [value]="observacao"
          [textarea]="true"
          (valueChange)="saveProjectName('observacao', 'observacao', $event, 0)"
        >
        </app-editable>
      </p>
    </div>

    <div class="total">
      <p>
        <strong>Sub Total:</strong>
        {{ valorTotalItems | currency : "BRL" : "symbol" : "0.2-2" : "pt" }}
      </p>

      <p class="flex">
        <strong style="margin-right: 4px"> Desconto:</strong>
        <app-editable
          [type]="'number'"
          [value]="total.desconto"
          (valueChange)="saveProjectName('total', 'desconto', $event, 0)"
        >
        </app-editable>
        %
      </p>

      <p class="flex">
        <strong style="margin-right: 4px">Acréscimo:</strong>
        <app-editable
          [type]="'number'"
          [value]="total.acrecimo"
          [currency]="true"
          (valueChange)="saveProjectName('total', 'acrecimo', $event, 0)"
        >
        </app-editable>
      </p>

      <p class="flex">
        <strong style="margin-right: 4px">Serviço:</strong>
        <app-editable
          [type]="'number'"
          [value]="total.servico"
          [currency]="true"
          (valueChange)="saveProjectName('total', 'servico', $event, 0)"
        >
        </app-editable>
      </p>

      <p>
        <strong>Total:</strong>
        {{ total.total | currency : "BRL" : "symbol" : "0.2-2" : "pt" }}
      </p>
    </div>
  </div>
</div>

<div class="center-flex">
  <button (click)="gerarPDF()">Gerar PDF</button>
</div>

<div id="preview-container"></div>
